@font-face {
  font-family: "Hansen-Grotesk";
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  font-family: "Hansen-Grotesk", monospace;
  border-radius: 24px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.29);
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-radius: inherit;
  color: white;
  background-image: linear-gradient(
    0deg,
    hsl(241deg 81% 54%) 0%,
    hsl(243deg 85% 57%) 20%,
    hsl(245deg 88% 59%) 40%,
    hsl(247deg 93% 62%) 60%,
    hsl(250deg 97% 65%) 80%,
    hsl(252deg 100% 67%) 100%
  );
  gap: 16px;
}

.result .result-header {
  margin-bottom: 12px;
  opacity: 0.7;
}

.result .total-score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    hsla(241deg, 72%, 46%, 0) 0%,
    hsla(244deg, 72%, 46%, 0.2) 20%,
    hsla(247deg, 72%, 46%, 0.4) 40%,
    hsla(250deg, 72%, 46%, 0.6) 60%,
    hsla(253deg, 72%, 46%, 0.8) 80%,
    hsla(256deg, 72%, 46%, 1) 100%
  );
  width: 150px;
  height: 150px;
}

.result .total-score .score-large {
  font-size: 3rem;
  font-weight: 800;
}

.result .total-score .score-small {
  opacity: 0.6;
}

.result .rank {
  text-align: center;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 0.9rem;
  opacity: 0.7;
  width: 200px;
}

.summary {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 20px;
  color: hsl(224, 30%, 27%);
}

.summary .exams {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 16px;
  margin-bottom: 12px;
}

.summary .exams .exam {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0 auto;
  padding: 12px;
  border-radius: 12px;
}

.summary .exams .exam:nth-child(1) {
  color: hsl(0, 100%, 67%);
  background-color: hsl(0, 100%, 67%, 0.1);
}

.summary .exams .exam:nth-child(2) {
  color: hsl(39, 100%, 56%);
  background-color: hsl(39, 100%, 56%, 0.1);
}

.summary .exams .exam:nth-child(3) {
  color: hsl(166, 100%, 37%);
  background-color: hsl(166, 100%, 37%, 0.1);
}

.summary .exams .exam:nth-child(4) {
  color: hsl(234, 85%, 45%);
  background-color: hsl(234, 85%, 45%, 0.1);
}

.summary .exams .exam img {
  margin-right: 12px;
}

.summary .exams .exam .subject {
  text-align: left;
  margin-right: 60px;
}

.summary .exams .exam .score {
  color: hsl(224, 30%, 27%);
  margin-left: auto;
}

.summary .exams .exam .score .bold {
  font-weight: 800;
}

.summary button {
  outline: 0;
  border: 0;
  font-family: "Hansen-Grotesk", monospace;
  font-weight: 500;
  background-color: hsl(224, 30%, 27%);
  color: white;
  padding: 12px;
  border-radius: 24px;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(
    0deg,
    hsl(241deg 81% 54%) 0%,
    hsl(243deg 85% 57%) 20%,
    hsl(245deg 88% 59%) 40%,
    hsl(247deg 93% 62%) 60%,
    hsl(250deg 97% 65%) 80%,
    hsl(252deg 100% 67%) 100%
  );
  }
}

@media screen and (max-width: 600px) {
  body {
    height: auto;
  }
  .container {
    flex-direction: column;
    width: 100%;
    border-radius: 0 0 24px 24px;
  }
  .result {
    border-radius: 0 0 inherit inherit;
  }
  .rank {
    width: 250px;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 12px;
  }
}